,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,-67.138672,-66.528320,-67.749023,-66.528320,-67.138672,-67.138672,-65.917969,-67.138672,-67.138672,-65.917969,...,-65.917969,-66.528320,-66.528320,-66.528320,-65.917969,-67.138672,-67.138672,-66.528320,-67.749023,-66.528320
1,-67.138672,-66.528320,-65.917969,-66.528320,-66.528320,-65.307617,-67.138672,-66.528320,-66.528320,-65.917969,...,-65.917969,-65.917969,-66.528320,-65.917969,-66.528320,-65.917969,-66.528320,-64.697266,-67.138672,-65.917969
2,-66.528320,-66.528320,-65.307617,-66.528320,-67.138672,-67.138672,-67.138672,-66.528320,-66.528320,-67.138672,...,-66.528320,-66.528320,-67.138672,-65.917969,-65.917969,-67.749023,-66.528320,-65.917969,-65.307617,-67.138672
3,-67.138672,-67.138672,-67.138672,-65.917969,-65.917969,-67.138672,-66.528320,-66.528320,-65.917969,-65.917969,...,-65.307617,-67.138672,-65.307617,-65.917969,-66.528320,-67.138672,-65.917969,-64.697266,-67.749023,-67.138672
4,-67.749023,-65.917969,-65.307617,-67.749023,-65.917969,-67.138672,-66.528320,-65.917969,-67.138672,-67.138672,...,-64.697266,-66.528320,-67.138672,-65.917969,-65.307617,-67.138672,-67.138672,-66.528320,-66.528320,-66.528320